 <div class="container">
  <div class="row">
   <div class="col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

　<h1>About</h1>
　　<p>長野ケーキは全国発送可能なケーキ屋さんです。</p>
　　<p>お子様からお年寄りまでの方までお召し上がり頂けるよう</p>
　　<p>さまざまなジャンルをご用意しております</p>
　　<p>ぜひご注文ください！</p>
　　
  </div>
 </div>
</div>
 

